
DISCORD_TOKEN=

GUILD_ID=

BOT_AVATAR_URL=

PANEL_SYNC_INTERVAL=


TICKET_PANEL_CHANNEL_ID=

TICKET_CATEGORY_ID=


TICKET_STAFF_ROLE_ID=


TICKET_MAX_PER_USER=

TICKET_BRAND_NAME=New Genesis
TICKET_PANEL_TITLE=Центр поддержки
TICKET_PANEL_DESCRIPTION=Выберите тип обращения кнопкой ниже. Мы создадим приватный канал, где будете только вы и администрация проекта.
TICKET_THUMBNAIL_URL=
